PORT=5011
DB_USER=postgres
DB_HOST=localhost
DB_NAME=Svarog
DB_PASSWORD=postgres
DB_PORT=5432
JWT_ACCESS_SECRET=replace_with_strong_access_secret_64_chars
JWT_REFRESH_SECRET=replace_with_strong_refresh_secret_64_chars
CORS_ORIGIN=http://localhost:8081
ONEC_HOST=192.168.57.77
ONEC_PORT=8240
AW_API_BASE_URL=http://localhost:5005/
COMPLAINTS_CLOSED_SYNC_MS=600000
